@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome Players! </h1>
     
<p> Lets's Build Your Perfect Fantasy Football Team  </p>



<img src= https://image.shutterstock.com/image-illustration/icon-gold-colored-american-football-600w-310327892.jpg alt= football field width=  500 height= 500>


</div>
