@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome Players! </h1>
     
<p> Lets's Build Your Perfect Fantasy Football Team  </p>



<img src= https://thumbs.dreamstime.com/z/vintage-american-football-ball-field-background-painted-over-textured-hardwood-floor-76364376.jpg alt= football field width=  500 height= 500>


</div>
